
html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    
}
h6{
    display: inline-block;
    text-align:justify;
    margin-left: 9.375rem;
    color: #707070;
    font-size: 1rem;
    padding: 0rem;

}
h4{
    display: inline-block;
    text-align: end;
    margin-left:2.18rem;
    color:#28A745;
    font-size: 1.25rem;
    padding: 0rem;
    
}

.row row-cols-1 row-cols-md-3 g-4{
    width: 100%;
}
.img-logo-blanco{
    width: 86px;
    height: 25px;
    
}

.col{
    width: 272px;
    height: 379px;
}
.card-text{
    color: grey;
    display: inline-block;
   
}
.precio1{
    width: 50%;
    display: flow-root;
}
h5{
    display: inline-block;
    width: 50%;
}
legend{
    font-family: 'Roboto';
    text-align: center;
    color: white;
    font-size: 21px;
}
form{
    background-color:#28A745;
    margin: 45px;
    padding: 2.5rem;
}
.footer-img{
    width: 5rem;
    
}
